body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 33px;
    margin-top: 5px;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid aquamarine;
    outline: none;
    font-size: 20px;
}
button{
    width: 60px;
    height: 41px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
}
.text ul{
    position: relative;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 7px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}